@charset "UTF-8";
/* タブレット対応 */
@media (max-width: 1190px) {
    /* 文字の大きさ */
    .txtxs {
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0;
    }
    .txts {
        font-size: 14px;
        font-weight: 300;
    }
    .txtm {
        font-size: 16px;
        font-weight: 600;
    }
    .txtl {
        font-size: 24px;
        font-weight: 600;
    }
    /* header 変更点なし*/

    /* contents */
    #contents {
        height: 400px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .c-innner {
        width: 57%;
        max-width: 57%;
        height: auto;
    }
    #contents h1 {
        margin:0 auto 30px auto;
    }
    /* about me */
    #about {
        margin-bottom: 30px;
    }
    #about h1 {
        margin-bottom: 30px;
    }
    #about p {
        margin-bottom: 10px;
    }
    #about p:nth-of-type(5) {
        margin-bottom: 10px;
    }
    .photo {
        height: auto;
        margin: 0 auto 30px auto;
        float: none;
    }
    .profile {
        width: 80%;
        max-width: 80%;
        margin: 0 auto;
        float: none;
    }
    /* PC用の説明文を非表示 */
    .photo-info-pc {
        display: none;
    }
    /* スマホ用の説明文を表示 */
    .photo-info-sp {
        display: block;
    }

    /* skils */
    #skils {
        margin-bottom:30px;
    }
    #skils h1 {
        margin-bottom: 30px;
    }
    .webskils {
        margin-bottom:30px;
    }

    /*works*/
    #works h1 {
        margin:0 auto 30px auto;
    }
    #works li:hover .mask {
        padding-left: 60px;	/* pxを増やすと右にずらす */
    }

    /* works(各リンクページの設定) */
    .works_link h1 {
        margin-bottom: 20px;
    }
    .works_link h2 {
        margin-bottom: 20px;
    }
    .works_main {
        margin-bottom: 20px;
    }
    .works_main img {
    width: 80%;
    height: auto;
    }

    /* footer */
    footer {
        padding: 20px 0 20px 0;
    }
}

/* スマホ対応 */
@media (max-width: 768px) {
    /* 文字の大きさ */
    .txtxs {
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0;
    }
    .txts {
        font-size: 12px;
        font-weight: 300;
    }
    .txtm {
        font-size: 15px;
        font-weight: 600;
    }
    .txtl {
        font-size: 18px;
        font-weight: 600;
    }
    /* 上下左右の余白 */
    .container {
        padding: 75px 10px 0 10px;
    }

    /* header */
    .navbar-open {
        display: block;
        position: fixed;
        font-size: 30px;
        top: 10px;
        right: 20px;
        padding: 10px 10px;
        background-color: #f9f9f9;
        opacity: 0.8;
    }
    .navbar-open.show {
        display: none;
    }
    .navbar-close.show {
        display: block;
        position: fixed;
        font-size: 30px;
        top: 10px;
        right: 20px;
        padding: 10px 10px;
        background-color: #f9f9f9;
        opacity: 0.8;
    }
    .navbar {
        display: none;
    }
    /* スマホのトグル */
    .spnav.show {
        display: flex;
        flex-direction: column;
        box-shadow: none;
        position: fixed;
        top: 80px;
        right: 10px;
        background-color: #f9f9f9;
        opacity: 0.8;
        visibility: visible;
    }
    .spnav.show li {
        color: #2C363A;
        padding:20px 20px;
    }
    .spnav.show li a:hover {
        color: #777777;
        border-bottom: 1px solid #777777;
    }

    /* contents */
    #contents {
        height: 330px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .c-innner {
        width: 85%;
        max-width: 85%;
        height: auto;
    }
    #contents h1 {
        width: 70%;
        margin:0 auto 15px auto;
    }

    /* about me */
    #about {
        margin-bottom: 15px;
    }
    #about h1 {
        margin-bottom: 15px;
    }
    .photo {
        width: 100%;
        max-width: 100%;
        margin: 0 auto 15px auto;
    }
    .photo img {
        border-radius: 50%;
    }
    .profile {
        width: 85%;
        max-width: 85%;
    }
    /* skils */
    #skils {
        margin-bottom:15px;
    }
    #skils h1 {
        margin:0 auto 15px auto;
    }
    #skils p {
        margin: 0 30px 5px 30px;
    }
    #skils section {
        width: 85%;
        margin: 0 auto;
        text-align: center;
    }
    #skils img {
        width: 45%;
        height: auto;
        margin:0 auto 10px auto;
        text-align: center;
    }

    /*works*/
    .worksbox {
        padding-top: 20px;
    }
    #works h1 {
        margin:0 auto 15px auto;
    }
    #works li {
        width: 75%;
        max-width: 75%;
        margin: 0 auto;
    }
    #works img {
        margin-bottom: 15px;
    }
    #works li:hover .mask {
        padding-left: 50px;	/* pxを増やすと右にずらす */
    }

    /* works(各リンクページの設定) */
    .works_link h1 {
        margin-bottom: 10px;
    }
    .works_link h2 {
        margin-bottom: 10px;
    }
    .works_main {
        margin-bottom: 10px;
    }
    .works_main img {
    width: 100%;
    height: auto;
    }

    /* footer */
    footer {
        padding: 15px 0 15px 0;
    }
}
