@charset "UTF-8";

/* 全体 */
body {
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "Meiryo",
    sans-serif;
    letter-spacing: 1.5px;
    margin: 0;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

.txtxs {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
    margin: 0;
}

.txts { 
    font-size: 16px; font-weight: 600; 
}

.txtm {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 10px 0;
}

.txtl {
    font-size: 28px;
    font-weight: 600;
    margin: 0 0 10px 0;
}

.brsp { display: none; }

.brpc { display: block; }

.yellowtxt { color: #ebb94d; }

.whitetxt { color: #fff; }

ul { list-style: none; }

.container { overflow: hidden; }


.contents {
    padding: 40px 0;
}

.contactsp {
    display: none;
}

.specialsp {
    display: none;
}

.flowdetailsp {
    display: none;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* header */
header {
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: #fff;
    width: 100%;
}

.title {
    width: 1170px;
    max-width: calc(100% - 20px);
    margin: 0 auto;
    position: relative;
    padding: 20px 0;
    height: 75px;
}

.subtitle p {
    margin: 0;
    font-weight: 600;
}

.subtitle {
    position: relative;
    bottom: 10px;
}

.title .logo, .subtitle {
    display: inline-block;
}

.contactpc {
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 16px;
    color: #fff;
    padding: 11px 40px;
    background-color: #da6b64;
    border-radius: 25px;
}

/* mainlogo */
.main { padding-top: 75px; }

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.cover-img {
    background-image: url(../images/main.jpg);
    background-position: center;
    height: 500px;
    display: table;
    width: 100%;
    background-size: cover;
}

.cover-text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.mainlogo {
    width: 317px;
    margin-bottom: 20px;
}

/* conversion */
.conversion, .conversionbtn p {
    color: #fff;
}

.conversionbtn {
    cursor: pointer;
    padding: 30px 120px;
    background-color: #da6b64;
    border-radius: 50px;
    color: #fff;
    margin: 45px auto;
    max-width: 1028px;
}

.conversion {
    background-color: #ebb94d;
    padding: 30px 0;
    text-align: center;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.btn {
    position: relative;
    height: 20px;
    box-sizing: border-box;
    padding: 1px 8px 1px 6px;
    background-color: #1b95e0;
    color: #fff;
    border-radius: 3px;
    font-weight: 500;
    cursor: pointer;
}

.tw-btn {
    position: relative;
    width: 75px;
    height: 22px;
}

.fb_iframe_widget {
    display: inline-block;
    position: relative;
}

/* introdyction */
.introduction {
    background-image: url(../images/introbottom.jpg);
    background-size: cover;
    background-position: center;
    height: 587px;
    text-align: center;
    padding: 40px 0;
}

.yellowbracketswide {
    margin: 0 auto;
    position: relative;
    width: 860px;
    max-width: clac(100% - 40px);
    padding: 15px 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.yellowbracketswide::before {
    top: 0;
    left: 0;
    border-top: 4px solid #ebb94d;
    border-left: 4px solid #ebb94d;
}

.yellowbracketswide::after {
    bottom: 0;
    right: 0;
    border-bottom: 4px solid #ebb94d;
    border-right: 4px solid #ebb94d;
}

.yellowbracketswide::before, .yellowbracketswide::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.contents p {
    margin-bottom: 24px;
    font-weight: 300;
}

p {
    margin: 0 0 10px;
}

.underline {
    font-weight: bold;
    background: linear-gradient(transparent 70%,#ebb94d 70%);
}

/* aboutiSara */
.about {
    padding: 0 0 40px 0;
    background-color: #fef5e0;
    text-align: center;
}
.abouticon {
    position: relative;
    top: -40px;
}

.circle1 {
    color: #fff;
    background-color: #ebb94d;
    padding: 0;
    margin: 0;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
}

.yellowbracketsnarrow {
    margin: 0 auto;
    position: relative;
    width: 860px;
    max-width: calc(100% - 40px);
    padding: 15px 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.yellowbracketsnarrow::before {
    top: 0;
    left: 0;
    border-top: 4px solid #ebb94d;
    border-left: 4px solid #ebb94d;
}

.yellowbracketsnarrow::after {
    bottom: 0;
    right: 0;
    border-bottom: 4px solid #ebb94d;
    border-right: 4px solid #ebb94d;
}

.yellowbracketsnarrow::before, .yellowbracketsnarrow::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.abouttitle p {
    margin-top: 40px;
}

.aboutbox {
    width: 1170px;
    max-width: calc(100% - 40px)!important;
    margin: 30px auto;
    padding: 30px;
    background-color: #fff;
    border: 2px solid #ebb94d;
    border-radius: 5px;
}

.aboutbox .txts {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 300;
}

.box {
    padding: 10px;
    display: inline-block;
}

/*  aboutsecond*/
.aboutsecond {
    background-image: url(../images/aboutsecond.jpg);
    background-size: cover;
    background-position: center;
    padding: 40px 0;
    text-align: center;
}

.aboutsecond h2,.aboutsecond p {
    color: #fff;
}

.aboutsecond h2 {
    margin-bottom: 20px;
}

.aboutsecond .container {
    margin-top: 30px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-4 {
    position: relative;
    float: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.sidebox {
    padding: 30px 30px 20px;
    background-color: #fff;
    border-radius: 5px;
    width: 32%;
    max-width: 32%;
}

.sidebox:nth-of-type(2) {
    margin: 0 1.5%;
}

.step {
    background-color: #ebb94d;
    border-radius: 5px;
}

.sidecontents p {
    color: #000000;
    font-weight: 600;
}

.sidecontents .txtxs {
    margin: 30px 0 15px;
}
.container {
    width: 1170px;
}

/* aboutthird */
.aboutthird {
    padding: 40px 0;
    text-align: center;
    background-color: #016ea9;
    color: #fff;
}

/* iSaralearning */
.learning {
    text-align: center;
    padding: 40px 0;
}

.learning .txtl {
    margin-bottom: 35px;
}

.learning .txtm {
    font-weight: 300;
}

.learning .container {
    padding: 0;
    width: 860px;
    max-width: calc(100% - 40px);
    margin: 40px auto;
}

.learningbox {
    padding: 20px;
}

.learningbox img {
    width: 180px;
}

.col-xs-3 {
    float: left;
    width: 25%;
}

/* melit */
.merit {
    padding: 40px 0;
    text-align: center;
    background-color: #fef5e0;
}

.merit .container {
    margin-top: 40px;
}

.col-xs-12 {
    width: 100%;
}

.learnbox.col-md-4 {
    width: 33.33333333%;
}

.merit .container .row div p {
    text-align: left;
    font-weight: 300;
    margin: 8px 0;
}

.learnfromfreelancer {
    height: 180px;
    background-image: url(../images/learnflomfreekancer.jpg);
    background-position: center;
    background-size: cover;
}

.learnfromprojects {
    height: 180px;
    background-image: url(../images/learnfromprojects.jpg);
    background-position: center;
    background-size: cover;
}

.actuallyfree {
    height: 180px;
    background-image: url(../images/free.jpg);
    background-position: center;
    background-size: cover;
}

.support {
    width: 1170px;
    max-width: calc(100% - 40px);
    background-color: #fff;
    padding: 40px 20px;
    margin: 40px auto;
    border: 2px solid #ebb94d;
    border-radius: 5px;
}

/* teacher */
.teacher {
    padding: 40px 0;
    text-align: center;
    background-image: url(../images/teacherbg.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
}

.teacherbox {
    max-width: 1170px;
    padding: 0;
    margin: 0 auto;
}

.teacherbox img {
    position: relative;
    bottom: -35px;
    border-radius: 50%;
}

.detail {
    padding: 40px;
    border: 3px solid #fff;
    min-height: 391px;
}

.col-md-4 {
    float: left;
    width: 33.33333%;
}

.txtleft {
    text-align: left;
}

.detail .txts {
    font-weight: 300;
}

/* why */
.why {
    position: relative;
    padding: 40px 0;
    text-align: center;
    background-color: #ebb94d;
    color: #fff;
}

.why::after {
    content: "";
    height: 0;
    position: absolute;
    width: 0;
    border: 25px solid transparent;
    border-top-color: #ebb94d;
    top: 100%;
    left: 50%;
    margin-left: -25px;
}

.circle2 {
    color: #ebb94d;
    background-color: #fff;
    padding: 0;
    margin: 0;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
}

.whitebrackets {
    margin: 0 auto;
    position: relative;
    width: 860px;
    max-width: calc(100% - 40px);
    padding: 15px 30px;
    box-sizing: border-box;
}

.whitebrackets::before {
    top: 0;
    left: 0;
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    box-sizing: border-box;
}

.whitebrackets::after {
    bottom: 0;
    right: 0;
    border-bottom: 4px solid #fff;
    border-right: 4px solid #fff;
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    box-sizing: border-box;
}

/* answer */
.answer {
    padding: 40px 0;
    text-align: center;
}

.answer .client.voice {
    padding: 20px 0;
    font-size: 18px;
    text-align: left;
    font-style: italic;
    color: #777;
}

.answer .client.voice .col-xs-4 {
    padding-left: 0;
}

.answer img {
    border: solid;
    border-color: #ebb94d;
    max-width: 100%;
    height: auto;
}

.answer .client.voice small {
    display: inline-block;
    margin-top: 8px;
    text-decoration: underline;
}

.container {
    overflow: hidden;
}

.col-xs-4 {
    width: 33.33333333%;
    float: left;
}

.col-xs-8 {
    float: left;
    width: 66.66666667%;
}

.col-md-8 {
    float: left;
}

.col-md-offset-2 {
    margin-left: 16.66666667%;
}

/* class */
.class {
    color: #fff;
    text-align: center;
    padding: 40px 0;
    background-image: url(../images/classbg.jpg);
    background-position: center;
    background-size: cover;
}

.classbox {
    padding: 40px 0;
    max-width: 780px;
    margin: 0 auto;
}

.col-md-6 {
    width: 50%;
    float: left;
}

.classbox .txtm {
    background-color: #016ea9;
    padding: 15px;
}

.classwrap ul {
    padding: 0;
    margin: 0;
}

.classbox ul li {
    color: #000000;
    padding: 10px;
    border-bottom: 1px dotted #e5e5e5;
}


.classwrap {
    background-color: #fff;
    border: 2px solid #016ea9;
    padding: 0;
    border-radius: 5px;
}

/* classbottom */
.classbottom {
    background-color: #016ea9;
    padding: 40px 0;
    color: #fff;
    text-align: center;
}

/* flow */
.flow {
    text-align: center;
    padding: 40px 0;
}

.flowimg {
    max-width: 100%;
    margin: 40px auto;
}

.flowbox {
    width: 1170px;
    max-width: calc(100% - 40px);
    overflow: hidden;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px 35px;
    background-color: #fef5e0;
}

.flowleft {
    float: left;
    padding: 20px;
    width: 200px;
}

.flowright {
    text-align: left;
    overflow: hidden;
    padding: 10px 0 0;
}

.flowbox p {
    margin: 20px 0;
}

/* bangkok */
.bangkok {
    background-image: url(../images/bangkokbg.jpg);
    background-position: center;
    background-size: cover;
    padding: 80px 80px;
    color: #fff;
}

.bangkokdetail {
    width: 1170px;
    max-width: calc(100% - 40px);
    margin: 0 auto;
}

.bangkokdetail .txtl {
    font-size: 24px;
    margin-bottom: 20px;
    letter-spacing: 3px;
}

.bangkoklist {
    margin: 20px 0;
}

/* special */
.special {
    background-position: center calc(100% - -11px);
    background-repeat: no-repeat;
    background-size: 300px auto;
    padding: 40px 0;
    text-align: center;
    background-color: #f7c23c;
}

.special h2 {
    margin-bottom: 40px;
}

.specialpeople {
    position: relative;
    bottom: -58px;
    width: 45%;
    background-color: #f7c23c;
    margin: 0 auto;
}

.specialbox {
    margin-top: 40px;
    padding: 40px;
    border: 2px solid #fff;
}

.tokuten {
    width: 250px;
    height: 250px;
    background-color: #fff;
    padding: 0%;
    margin: 10px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
}

.tokuten .tokutenbox {
    padding: 15px;
    height: 250px;
    display: table-cell;
    vertical-align: middle;
}

/* specialdetail */
.specialdetail {
    padding: 40px 0;
    text-align: center;
    color: #fff;
    background-image: url(../images/specialdetail.jpg);
    background-position: center;
    background-size: cover;
}

.specialdetail .txtl {
    margin-top: 20px;
    margin-bottom: 20px;
}

.specialdetail .txtm {
    margin-bottom: 40px;
}

.whitebrackets {
    margin: 0 auto;
    position: relative;
    width: 860px;
    max-width: calc(100% - 40px);
    padding: 15px 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* iSaralearning */
.learning {
    text-align: center;
    padding: 40px 0;
}

.learning .txtl {
    margin-bottom: 35px;
}

.learning .txtm {
    font-weight: 300;
}

.container.mesage-container {
    max-width: 1028px;
}

.learning .container {
    padding: 0;
    width: 860px;
    max-width: calc(100% - 40px);
    margin: 40px auto;
}

b, strong {
    font-weight: 700;
}

.col-md-3 {
    width: 25%;
    float: left;
}

.col-md-9 {
    width: 75%;
    float: left;
}

/* contactform */
.contactform {
    background-color: #ebb94d;
    padding: 40px 20%;
    text-align: center;
}

.contactform .txtl {
    margin: 20px 0;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input,textarea {
    width: 100%;
    height: 55px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 25px;
    border: none;
}

textarea {
    height: 100px;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.OF_submit_btn1 {
    background-color: #da6b64;
    color: #fff;
    padding: 10px 80px;
    border-radius: 50px;
    font-size: 23px;
    font-weight: 600;
    border: none;
}
/* questions */
.questions {
    padding: 40px 10%;
    text-align: center;
}

.questionsheading h4 a {
    cursor: pointer;
    display: block;
}

.questionsheading {
    padding: 20px 20px;
    background-color: #fff !important;
    color: #000000 !important;
    border: 1px solid #e5e5e5 !important;
}

.questionslist {
    width: 1170px;
    max-width: calc(100% - 40px);
    margin: 0 auto;
    text-align: left;
}

.questionsbody {
    border: none !important;
    background-color: #fff;
    padding: 20px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.panel {
    margin-top: 5px;
}

a.txtm {
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a {
    color: inherit;
}

.fa-question-circle-o:before {
    color: #016ea9;
}

.panel-collapse {
    display: none;
}

.questionstoggle {
    position: relative;
}

.questionstoggle::after {
    content: "";
    position: absolute;
    top: 38%;
    right: 25px;
    transition: all 0.2s ease-in-out;
    display: block;
    width: 8px;
    height: 8px;
    border-top: solid 4px #777777;
    border-right: solid 4px #777777;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.questionstoggle.open::after {
    -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 45%;
}


/* fooetr */
.footerwrap {
    position: relative;
    padding: 40px 15px 20px 15px;
    text-align: center;
    background-color: #ececec;
}

.copyright {
    font-size: 10px;
    font-weight: 300;
    margin-bottom: 0;
    padding-bottom: 5px;
}

/*pagetop*/
.pagetop {
    cursor: pointer;
    position: fixed;
    bottom: 90px;
    right: 50px;
    background-color: #ececec;
    padding: 20px;
    border-radius: 50%;
}

.fa-chevron-up {
    font-size: 30px;
}

.fa-chevron-up:before {
    content: "\f077";
} 
