@charset "UTF-8";

/* タブレット用 */
@media (max-width: 1190px) {

    .txtxs {
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0;
    }

    .txts {
        font-size: 14px;
        font-weight: 600;
    }

    .txtm {
        font-size: 16px;
        font-weight: 600;
    }

    .txtl {
        font-size: 24px;
        font-weight: 600;
    }

    .brsp {
        display: block;
    }

    .brpc {
         display: none; 
    }

    .conversionbtn {
        padding: 15px 20px;
        margin: 10px 20px;
        margin-top: 25px;
        margin-bottom: 10px;
    }

    .specialpc {
        display: none;
    }

    .aboutsecond .container {
        padding: 0 20%;
    }

    .pagetop {
        bottom: 20px;
        right: 10px;
        padding: 15px;
    }

    .merit {
        padding: 30px 50px;
    }

    .learnfromfreelancer, .learnfromprojects, .actuallyfree {
        width: 300px;
        margin: 0 auto;
    }

    .container {
        width: auto;
    }

    .sidebox {
        width: 60%;
        max-width: 60%;
        margin: 0 20% 20px !important;
    }

    .learnbox {
        margin-bottom: 20px;
    }

    .learnbox.col-md-4 {
        float: none;
        width: 100%;
        max-width: 100%;
    }

    .learndetail {
        padding: 0 20px;
    }

    .merit p.yellowtxt {
        text-align: center !important;
    }

    .teacher {
        padding: 50px;
    }

    .teacherbox　{
        width: auto;
    }

    .col-md-4 {
        width: 100%;
    }

    .detail {
        min-height: 240px;
    }

    .col-md-offset-2 {
        margin-left: 0;
    }

    .classbox {
        padding: 30px 10%;
    }

    .col-xs-12 {
        width: 100%;
    }

    .classlist {
        margin-top: 15px;
    }

    .learningbox {
        padding: 20px;
    }

    .learningbox p {
        font-size: 14px;
    }

    .questions {
        padding: 40px;
    }
}

/* スマートフォン用 */
@media (max-width: 768px) {

    .txtxs {
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0px;
    }

    .txts {
        font-size: 12px;
        font-weight: 600;
    }

    .txtm {
        font-size: 15px;
        font-weight: 600;
    }

    .txtl {
        font-size: 18px;
        font-weight: 600;
    }

    .title {
        position: relative;
        padding: 0;
        height: 62px;
        max-width: 100%;
    }

    .subtitle {
        position: absolute;
        top: 8px;
        left: 10px;
        font-size: 10px;
        font-weight: 600;
        letter-spacing: 0px;
    }

    .logo {
        position: absolute;
        top: 25px;
        left: 10px;
        margin-top: 0;
    }

    .logo img {
        width: 90px;
        height: auto;
    }

    .contactpc {
        display: none;
    }

    .contactsp {
        display: block;
        text-align: center;
        position: absolute;
        right: 0;
        top: 0;
        padding: 9px 11px;
        background-color: #da6b64;
    }

    .contactsp img {
        width: 20px;
    }

    .contactsp a {
        font-size: 12px;
        color: #fff;
    }

    .contactsp img, .contactsp a {
        margin: auto;
        display: block;
    }

    .main {
        padding-top: 60px;
    }

    .cover-img {
        background-image: url(../images/mainsp.jpg);
        height: 312px;
    }

    .yellowbracketswide {
        margin: 0 auto;
        position: relative;
        width: 95%;
        max-width: calc(100% - 10px);
        padding:5px 20px;
        box-sizing: border-box;
    }

    .yellowbracketswide::before, .yellowbracketswide::after {
        position: absolute;
        content: "";
        width: 30px;
        height: 30px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .introduction {
        padding: 30px 0;
        height: inherit;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center bottom;
    }

    .yellowbracketsnarrow::before, .yellowbracketsnarrow::after {
        position: absolute;
        content: "";
        width: 30px;
        height: 30px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .aboutbox {
        padding: 10px;
    }

    .aboutbox .txts {
        font-size: 10px;
    }

    .box img {
        height: 30px;
    }

    .aboutsecond {
        background-image: url(../images/aboutsecondbgsp.jpg);
        padding: 30px 30px;
    }

    .aboutsecond .txtl {
        line-height: 2rem;
    }

    .aboutsecond .txtm {
        font-size: 13px;
        letter-spacing: 0;
    }

    .sidebox {
        width: 100%;
        max-width: 100%;
        margin: 0 auto 15px !important;
        padding: 15px 50px;
        border-radius: 5px;
    }

    .aboutsecond .container {
        padding: 0;
    }

    .sidecontents .txtxs {
        margin: 15px 0 5px;
    }

    .learning {
        padding: 20px 0;
    }

    .learning .container {
        padding: 0 50px;
        margin-top: 0;
        margin-bottom: 15px;
    }
    
    .learningbox img {
        width: 120px;
    }

    .learningbox {
        padding: 5px;
    }

    .merit {
        padding: 30px 0;
    }

    .learnfromfreelancer, .learnfromprojects, .actuallyfree {
        height: 120px;
        width: auto;
    }
    
    .support {
        margin: 15px auto;
        padding: 10px;
    }

    .support .txts {
        font-size: 10px;
        letter-spacing: 0;
    }

    .meritbottom {
        padding: 0 10px;
    }

    .teacher {
        padding: 20px 5px;
        background-image: url(../images/teacherbgsp.jpg);
    }

    .teacherbox img {
        width: 120px;
    }

    .detail {
        padding: 40px 10px 10px 10px;
        height: auto;
        min-height: 180px;
    }

    .classbox {
        padding: 5px 5px;
    }

    .flowimg, .flowdetailpc {
        display: none;
    }
    
    .flowdetailsp {
        padding: 20px 15px;
        display: block;
        text-align: left;
    }
    .flowdetailsp img {
        width: 35px;
        height: 35px;
        margin-right: 15px;
    }
    
    .panel-heading {
        background-color: #fef5e0;
        padding: 10px 15px;
        cursor: pointer;
    }

    .panel-group .panel {
        margin-bottom: 0;
        border-radius: 4px;
    }

    .flowtoggle {
        position: relative;
    }

    .flowtoggle::after {
        content: "";
        position: absolute;
        top: 38%;
        right: 2px;
        transition: all 0.2s ease-in-out;
        display: block;
        width: 8px;
        height: 8px;
        border-top: solid 2px #000000;
        border-right: solid 2px #000000;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    
    .flowtoggle.open::after {
        -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 45%;
    }

    .bangkok {
        background-image: url(../images/bangkokbgsp.jpg);
        padding: 20px 15px;
    }

    .specialsp {
        display: block;
    }

    .circle2 {
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 12px;
    }

    .specialspbox {
        margin: 15px 0;
        overflow: hidden;
        color: #fff;
    }

    .specialleft {
        width: 30%;
        float: left;
        padding: 0;
    }

    .specialright {
        padding: 12px 0;
        overflow: hidden;
        text-align: left;
    }

    .specialdetail .txtm {
        letter-spacing: 1px;
        font-size: 12px;
    }

    .whitebrackets::before, .whitebrackets::after {
        position: absolute;
        content: "";
        width: 30px;
        height: 30px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .learning {
        padding: 20px 0;
    }

    .learning .txtl {
        margin-bottom: 35px;
    }

    .container.mesage-container {
        max-width: calc(100% - 20px);
        padding: 0;
    }

    .learning .container {
        padding: 0 10px;
        margin-top: 0;
        margin-bottom: 15px;
    }

    .contactform {
        padding: 20px 15px;
    }

    .questions {
        padding: 20px 15px;
    }

    .questionslist .questionsheading {
        padding: 10px 10px;
    }

    .questionslist {
        width: 100%;
        max-width: 100%;
        margin: 0;
    }

    .questionslist .panel-title {
        width: calc(100% - 20px);
        position: relative;
    }

    .questionstoggle::after {
        right: 0px;
    }

}

.pagetop {
    padding: 10px;
}